### AirBnB Datamodeling

In [1]:
import configparser
import numpy as np
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

In [2]:
config = configparser.ConfigParser()

In [18]:
config.read('clusterair.config')

['clusterair.config']

In [19]:
config['POSTGRES']['PG_DB']

'airbnb'

In [20]:
db = config['POSTGRES']['PG_DB']
user = config['POSTGRES']['PG_UNAME']
passwd = config['POSTGRES']['PG_PASS']
port = config['POSTGRES']['PG_PORT']
host = config['POSTGRES']['PG_HOST']

Using the pandas internal read_sql method to get the data from the DB

In [21]:
credentials = "postgresql://{}:{}@{}:{}/{}".format(user,passwd,host,port,db)

In [22]:
credentials

'postgresql://postgres:1234@172.17.0.2:5432/airbnb'

In [23]:
#using psycopg2 to test connection since there are no tables

import psycopg2
try:
    conn = psycopg2.connect(host=host,dbname=db,user=user,password=passwd,port=port)
except Exception as e:
    print(e)

In [24]:
conn.set_session(autocommit=True)

In [25]:
try:
    cur = conn.cursor()
    
except:
    print(e)

Following steps to start the data modeling

1) Get the schema from the airbnb database that is already in pg

2) Design the star schema and decide the facttable and dimension table

3) Decide the columns in the dimtables and facttable

4) Create tables and insert data into the tables

#### Writing additional helpers

In [26]:
#Using pandas read_sql for getting schema
def getSchema(tableName, credentials):
    schema = pd.read_sql("""SELECT * FROM information_schema.columns where table_name='{}'""".format(tableName),con=credentials)
    return schema

In [27]:
#Issue is in using pd.read_sql to write data to the database. so using psycopg2
def queryTable(query):
    try:
        schema = cur.execute(query)
        return 
    except Exception as e:
        print(e)
        
#This doesn't return anything

In [28]:
#Using the pd.read_sql for getting data from db
def queryBase(query):
    requiredTable = pd.read_sql(query,con=credentials)
    return requiredTable

#This returns the dataframe

In [28]:
getSchema('calendar',credentials)

,table_catalog,table_schema,table_name,column_name,ordinal_position,column_default,is_nullable,data_type,character_maximum_length,character_octet_length,...,is_identity,identity_generation,identity_start,identity_increment,identity_maximum,identity_minimum,identity_cycle,is_generated,generation_expression,is_updatable
0,airbnb,public,calendar,listing_id,1,None,YES,numeric,NaN,NaN,...,NO,None,None,None,None,None,NO,NEVER,None,YES
1,airbnb,public,calendar,date,2,None,YES,date,NaN,NaN,...,NO,None,None,None,None,None,NO,NEVER,None,YES
2,airbnb,public,calendar,available,3,None,YES,character varying,2.0,8.0,...,NO,None,None,None,None,None,NO,NEVER,None,YES
3,airbnb,public,calendar,price,4,None,YES,character varying,25.0,100.0,...,NO,None,None,None,None,None,NO,NEVER,None,YES

In [18]:
createReviews = """CREATE TABLE reviews(
                    listing_id NUMERIC,  
                    date DATE)"""

#### Creating first Table in the database

In [55]:
createCalendar = """CREATE TABLE calendar(
                    listing_id NUMERIC,  
                    date DATE,  
                    available VARCHAR(2),  
                    price VARCHAR(25))"""

In [56]:
queryTable(createCalendar)

relation "calendar" already exists

Writing the data from CSV to database using psycopg2

In [29]:
copyCalendarData = """COPY calendar from '/var/lib/postgresql/data/airbnb/calendar.csv'
        DELIMITER ',' CSV HEADER"""

#### Remember to use LIMIT 10 when executing the queries to docker database

In [34]:
queryBase('SELECT * FROM calendar LIMIT 10')

   listing_id        date available price
0      2818.0  2019-12-05         f
1      2818.0  2019-12-05         f  None
2     73208.0  2019-08-30         f  None
3     73208.0  2019-08-29         f  None
4     73208.0  2019-08-28         f  None
5     73208.0  2019-08-27         f  None
6     73208.0  2019-08-26         f  None
7     73208.0  2019-08-25         f  None
8     73208.0  2019-08-24         f  None
9     73208.0  2019-08-23         f  None

#### Creating the reviews table in the database

In [27]:
try:
    cur.execute("""CREATE TABLE reviews(
                    listing_id NUMERIC,  
                    date DATE)""")
    
except Exception as e:
    print(e)

In [39]:
#copy reviews data to database
insertReviews = """COPY reviews from '/var/lib/postgresql/data/airbnb/reviews.csv'
        DELIMITER ',' CSV HEADER"""

#### Inserting reviews data into database

In [40]:
queryTable(insertReviews)

In [41]:
queryBase("""SELECT * FROM reviews LIMIT 10""")

   listing_id        date
0      2818.0  2009-03-30
1      2818.0  2009-04-24
2      2818.0  2009-05-03
3      2818.0  2009-05-18
4      2818.0  2009-05-25
5      2818.0  2009-06-29
6      2818.0  2009-07-07
7      2818.0  2009-09-06
8      2818.0  2009-10-01
9      2818.0  2009-11-04

#### Insert neighbourhood table

In [57]:
createNeighTable = """CREATE TABLE neighbourhoods (
                            neighbourhood_group  VARCHAR(25),  
                            neighbourhood VARCHAR(25))"""

In [58]:
queryTable(createNeighTable)

relation "neighbourhoods" already exists

In [59]:
insertNeighTable = """COPY neighbourhoods from '/var/lib/postgresql/data/airbnb/neighbourhoods.csv'
        DELIMITER ',' CSV HEADER"""

In [61]:
queryTable(insertNeighTable)

In [64]:
queryBase("""SELECT * FROM neighbourhoods""",credentials)

   neighbourhood_group           neighbourhood
0                 None         Bijlmer-Centrum
1                 None            Bijlmer-Oost
2                 None           Bos en Lommer
3                 None  Buitenveldert - Zuidas
4                 None            Centrum-Oost
..                 ...                     ...
61                None                Oud-Oost
62                None             Slotervaart
63                None         Watergraafsmeer
64                None              Westerpark
65                None                    Zuid

[66 rows x 2 columns]

Creating Listings table

postgresql has REAL which provides 6 decimal precision, and the listings data contains latitude and longitude with 6 decimal

In [69]:
createListing = """CREATE TABLE listings (id NUMERIC,  
            name VARCHAR(255),  host_id NUMERIC,  
            host_name VARCHAR(255),  neighbourhood_group  VARCHAR(25),  
            neighbourhood VARCHAR(255),  latitude REAL,  
            longitude REAL,  room_type VARCHAR(255), 
            price NUMERIC,  minimum_nights NUMERIC,  
            number_of_reviews NUMERIC,  last_review VARCHAR(255),  
            reviews_per_month REAL,  calculated_host_listings_count NUMERIC,  
            availability_365 NUMERIC)"""

In [70]:
queryTable(createListing)

In [71]:
insertListing = """COPY listings from '/var/lib/postgresql/data/airbnb/listings.csv'
        DELIMITER ',' CSV HEADER"""

In [72]:
queryTable(insertListing)

In [74]:
queryBase("""SELECT * FROM listings LIMIT 5""",credentials)

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2818.0,Quiet Garden View Room & Super Fast WiFi,3159.0,Daniel,None,Oostelijk Havengebied - Indische Buurt,52.365753,4.941419,Private room,59.0,3.0,248.0,2018-11-28,2.10,1.0,44.0
1,3209.0,"Quiet apt near center, great view",3806.0,Maartje,None,Westerpark,52.390224,4.873924,Entire home/apt,160.0,4.0,42.0,2018-08-29,1.03,1.0,47.0
2,20168.0,100%Centre-Studio 1 Private Floor/Bathroom,59484.0,Alex,None,Centrum-Oost,52.365086,4.893541,Entire home/apt,80.0,1.0,233.0,2018-11-30,2.18,2.0,198.0
3,25428.0,Lovely apt in City Centre (Jordaan),56142.0,Joan,None,Centrum-West,52.373116,4.883668,Entire home/apt,125.0,14.0,1.0,2018-01-21,0.09,2.0,141.0
4,27886.0,"Romantic, stylish B&B houseboat in canal district",97647.0,Flip,None,Centrum-West,52.386726,4.892078,Private room,150.0,2.0,171.0,2018-11-25,2.03,1.0,199.0

In [14]:
createRewDetail = """CREATE TABLE reviews_details (listing_id NUMERIC,  id NUMERIC,  
                        date VARCHAR(255),  reviewer_id NUMERIC,  reviewer_name VARCHAR(255),  
                        comments VARCHAR(455))"""

In [23]:
queryTable(createRewDetail)

In [31]:
insertRewDet = """COPY reviews_details from '/var/lib/postgresql/data/reviewsCleaned.csv'
        DELIMITER ',' CSV HEADER"""

In [35]:
queryTable(insertRewDet)

In [37]:
queryBase("""SELECT * FROM reviews_details LIMIT 5""")

,listing_id,id,date,reviewer_id,reviewer_name,comments
0,2818.0,1191.0,2009-03-30,10952.0,Lam,Daniel is really cool. The place was nice and ...
1,2818.0,1771.0,2009-04-24,12798.0,Alice,Daniel is the most amazing host! His place is ...
2,2818.0,1989.0,2009-05-03,11869.0,Natalja,We had such a great time in Amsterdam. Daniel ...
3,2818.0,2797.0,2009-05-18,14064.0,Enrique,Very professional operation. Room is very clea...
4,2818.0,3151.0,2009-05-25,17977.0,Sherwin,Daniel is highly recommended. He provided all...

### Lessons Learnt

1) NaN values in pandas dataframe will confuse the postgresql column type

2) When loading the file through Jupyter and psycopg2 interface, the above issue will not throw an error. But the data will not be written to the database table

3) Clean the csv file before loading it through these interfaces

4) Ensure that you choose just "varchar" and not varchar(some number). This creates error, and doesn't load the complete table. The truncation rule doesn't work when using the Copy command

In [66]:
createListDetail = """CREATE TABLE listings_details (id NUMERIC,  listing_url VARCHAR(255),  scrape_id NUMERIC,  last_scraped VARCHAR(255),  name VARCHAR(255),  summary VARCHAR(255),  space VARCHAR(255),  description VARCHAR(255),  experiences_offered VARCHAR(255),  neighborhood_overview VARCHAR(255),  notes VARCHAR(255),  transit VARCHAR(255),  access VARCHAR(255),  interaction VARCHAR(255),  house_rules VARCHAR(255),  picture_url VARCHAR(255),  host_id NUMERIC,  host_url VARCHAR(255),  host_name VARCHAR(255),  host_since VARCHAR(255),  host_location VARCHAR(255),  host_about VARCHAR(255),  host_response_time VARCHAR(255),  host_response_rate VARCHAR(255),  host_is_superhost VARCHAR(255),  host_thumbnail_url VARCHAR(255),  host_picture_url VARCHAR(255),  host_neighbourhood VARCHAR(255),  host_listings_count VARCHAR(255),  host_total_listings_count REAL,  host_verifications VARCHAR(255),  host_has_profile_pic VARCHAR(255),  host_identity_verified VARCHAR(255),  street VARCHAR(255),  neighbourhood VARCHAR(255),  neighbourhood_cleansed VARCHAR(255),  city VARCHAR(255),  state VARCHAR(255),  zipcode VARCHAR(255),  market VARCHAR(255),  smart_location VARCHAR(255),  country_code VARCHAR(255),  country VARCHAR(255),  latitude REAL,  longitude REAL,  is_location_exact VARCHAR(255),  property_type VARCHAR(255),  room_type VARCHAR(255),  accommodates NUMERIC,  bathrooms REAL,  bedrooms REAL,  beds REAL,  bed_type VARCHAR(255),  amenities VARCHAR(255),  square_feet REAL,  price VARCHAR(255),  weekly_price VARCHAR(255),  monthly_price VARCHAR(255),  security_deposit VARCHAR(255),  cleaning_fee VARCHAR(255),  guests_included NUMERIC,  extra_people VARCHAR(255),  minimum_nights NUMERIC,  maximum_nights NUMERIC,  calendar_updated VARCHAR(255),  has_availability VARCHAR(255),  availability_30 NUMERIC,  availability_60 NUMERIC,  availability_90 NUMERIC,  availability_365 NUMERIC,  calendar_last_scraped VARCHAR(255),  number_of_reviews NUMERIC,  first_review VARCHAR(255),  last_review VARCHAR(255),  review_scores_rating REAL,  review_scores_accuracy REAL,  review_scores_cleanliness REAL,  review_scores_checkin REAL,  review_scores_communication REAL,  review_scores_location REAL,  review_scores_value REAL,  requires_license VARCHAR(255),  license VARCHAR(255),  jurisdiction_names VARCHAR(255),  instant_bookable VARCHAR(255),  is_business_travel_ready VARCHAR(255),  cancellation_policy VARCHAR(255),  require_guest_profile_picture VARCHAR(255),  require_guest_phone_verification VARCHAR(255),  calculated_host_listings_count NUMERIC,  reviews_per_month VARCHAR(255))"""

In [74]:
newCreateList = createListDetail.replace('VARCHAR(255)','VARCHAR')

In [75]:
queryTable(newCreateList)

In [69]:
insertRewDet = """COPY listings_details from '/var/lib/postgresql/data/listingsdetailsCleaned.csv'
        DELIMITER ',' CSV HEADER"""

In [76]:
queryTable(insertRewDet)

In [77]:
queryBase("""SELECT * FROM listings_details LIMIT 5""")

,id,listing_url,scrape_id,last_scraped,name,summary,space,description,experiences_offered,neighborhood_overview,...,requires_license,license,jurisdiction_names,instant_bookable,is_business_travel_ready,cancellation_policy,require_guest_profile_picture,require_guest_phone_verification,calculated_host_listings_count,reviews_per_month
0,2818.0,https://www.airbnb.com/rooms/2818,2.018121e+13,2018-12-06,Quiet Garden View Room & Super Fast WiFi,Quiet Garden View Room & Super Fast WiFi,I'm renting a bedroom (room overlooking the ga...,Quiet Garden View Room & Super Fast WiFi I'm r...,none,"Indische Buurt (""Indies Neighborhood"") is a ne...",...,f,noData,{Amsterdam},t,f,strict_14_with_grace_period,f,f,1.0,2.1
1,3209.0,https://www.airbnb.com/rooms/3209,2.018121e+13,2018-12-06,"Quiet apt near center, great view",You will love our spacious (90 m2) bright apar...,"Our apartment has lots of light, a balcony and...",You will love our spacious (90 m2) bright apar...,none,Welcome to the Spaarndammerbuurt! From the beg...,...,f,noData,{Amsterdam},f,f,moderate,f,f,1.0,1.03
2,20168.0,https://www.airbnb.com/rooms/20168,2.018121e+13,2018-12-06,100%Centre-Studio 1 Private Floor/Bathroom,"Cozy studio on your own private floor, 100% in...",For those who like all facets of city life. In...,"Cozy studio on your own private floor, 100% in...",none,Located just in between famous central canals....,...,f,noData,{Amsterdam},f,f,strict_14_with_grace_period,f,f,2.0,2.18
3,25428.0,https://www.airbnb.com/rooms/25428,2.018121e+13,2018-12-06,Lovely apt in City Centre (Jordaan),noData,"This nicely furnished, newly renovated apt is...","This nicely furnished, newly renovated apt is...",none,noData,...,f,noData,{Amsterdam},f,f,strict_14_with_grace_period,f,f,2.0,0.09
4,27886.0,https://www.airbnb.com/rooms/27886,2.018121e+13,2018-12-06,"Romantic, stylish B&B houseboat in canal district",Stylish and romantic houseboat on fantastic hi...,For a romantic couple: A beautifully restored ...,Stylish and romantic houseboat on fantastic hi...,none,"Central, quiet, safe, clean and beautiful.",...,f,noData,{Amsterdam},t,f,strict_14_with_grace_period,f,f,1.0,2.03

## Successfully loaded the data into the database

* The airbnb database can be dumped to a simple sql file using the following command,

pg_dump --dbname=airbnb --host=localhost --username=postgres> airbnb.sql

* The above file is a direct SQL commands that will recreate the database and all its tables.

* The database can be restored by using the following command

psql dbname < dumpfile